POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
GORATOR_DEBUG_USERS_PASSWORD=trulysecuritypassword
GORATOR_DB_HOSTNAME=db
GORATOR_DB_PORT=5432
GORATOR_IS_DEBUG=1
GORATOR_ALLOWED_ORIGIN=http://localhost:5173
GORATOR_DB_USERNAME=postgres
GORATOR_DB_PASSWORD=postgres
GORATOR_SKIP_AUTH_CHECK=1
GORATOR_AUTH_USER_ID=1