POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
GORATOR_DEBUG_USERS_PASSWORD=trulysecuritypassword
GORATOR_DB_HOSTNAME=db
GORATOR_DB_PORT=5432
GORATOR_IS_DEBUG=1
GORATOR_ALLOWED_ORIGIN=http://localhost:5173